.App {
  text-align: center;
  background-color: #f8f8f8; /* Warna latar belakang */
  min-height: 100vh;
}

header {
  background-color: #ffffff;
  padding: 20px;
  position: relative;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
}

/* Sesuaikan ini untuk responsif atau spesifik media query */
@media (max-width: 600px) {
  .search-bar,
  .dropdown {
    width: 90%;
  }

  .card-container {
    flex-direction: column;
  }
}
