.card {
  background: white;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px; /* Adjust to your preferred width */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-image img {
  width: 100%; /* Image will fill the card width */
  height: auto;
}

.card-info {
  padding: 10px;
}

.card-info h3 {
  text-transform: capitalize;
  color: #333; /* Text color for Pokémon name */
  margin: 10px 0;
}

.card-info p {
  color: #777; /* Text color for Pokémon number */
  margin: 5px 0;
}

.type {
  display: inline-block;
  background-color: #defde0; /* Background color for Pokémon type */
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
  font-size: 0.8em;
}